<style>
.btn-primary{
  color: #fff;
  background-color: #73A1D6;
  border-color:#73A1D6;
}
.btn-primary:hover{
  color: #fff;
  background-color: #2368B8;
  border-color:#2368B8;
}
.order-summary.jumbotron{
  margin-left: 35%
}
.alert-primary{
  background-color: #73a1d6ed;
  color: #fff;
}
</style>

<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="alert alert-primary" role="alert">
  Your receipt has been sent to <%= @order.email  %>
  </div>

  <div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>

  <% @order.line_items.each do |item| %>
    <%= render "order_details", product: item.product, quantity: item[:quantity] %>

  <% end %>

  </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%=humanized_money_with_symbol @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

<br>
  <div class="order-summary jumbotron">
    <h4>Thanks for planting me!</h4>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_znmc6wrb.json"  background="transparent"  speed="0.75"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
  </div>

<br>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
